body {
font-family: Arial;
margin: 0;
background: black;
color: white;
text-align: center;
}

header {
padding: 60px;
background: #111;
}

section {
padding: 40px;
}

footer {
background: #111;
padding: 20px;
}
