body{
  margin:0;
  font-family:Arial;
  background:#000;
  color:white;
  text-align:center;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.hero h1{
  font-size:48px;
}

.hero p{
  opacity:0.8;
}

.btn{
  margin-top:20px;
  padding:12px 25px;
  background:white;
  color:black;
  text-decoration:none;
  border-radius:5px;
}

.section{
  padding:80px 20px;
}

.dark{
  background:#111;
}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:#222;
  padding:40px;
  width:200px;
  border-radius:10px;
}

footer{
  padding:20px;
  background:#111;
}
